<div class="header">


<ul class="nav nav-pills pull-right">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Research
    	<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{{ page.publications }}"><a href="/publications" title="Publications">Publications</a></li>
      <li class="{{ page.presentations }}"><a href="/presenations" title="Presentations">Presentations</a></li>
      <li class="{{ page.code }}"><a href="/code" title="Coding">Coding</a></li>
      <li class="{{ page.travel }}"><a href="/travel" title="Travel">Travel</a></li>
    </ul>
  	</li>
		<li class="{{ page.notes }}"><a href="/writing" title="Writing">Writing</a></li>
		<li class="{{ page.outreach }}"><a href="/outreach" title="Outreach">Outreach</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">DJ Bruce</a></h3>
</div> <!-- /header -->